@model int

<a class="nav-link text-dark" asp-controller="Orders" asp-action="ShoppingCart">
    <i class="bi bi-cart-plus"></i> Cart
    @if (Model > 0)
    {
        <span class="badge bg-danger">@Model</span>
    }
</a> 