@model string;

@if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
{
    <div class="fab-wrapper">
        <a asp-controller="@Model" asp-action="Create" class="btn btn-success fab-button shadow">
            <i class="bi bi-plus-lg"></i>
        </a>
    </div>
}